{
  "project_info": {
    "project_number": "REPLACE_FROM_FIREBASE_CONSOLE",
    "project_id": "unmyeong-injido",
    "storage_bucket": "unmyeong-injido.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE:android:REPLACE",
        "android_client_info": {
          "package_name": "com.yun.unmyeonginjido"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
